main {
    position: fixed;
    top: 12vh;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    width: 100vw;
    height: 100vh;

    background-color: rgb(2, 30, 30);
    position: fixed;

    width: 100vw;
    height: 88vh;
}