button:not(#pfp-settings-Btn) {
    background: none;
	color: inherit;
	border: inherit;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
button#pfp-settings-Btn {
    width: 90%;
    height: 90%;
    border-radius: 100%;

    :nth-child {
        width: inherit;
        height: inherit;
        border-radius: inherit;
    }
}