<button id="pfp-settings-Btn" [matMenuTriggerFor]="pfpMenu" aria-label="Example icon-button with a menu">
    <mat-icon>person</mat-icon>
</button>

<mat-menu #pfpMenu="matMenu">
    <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <button (click)="redirectToProfile()">Profile</button>
    </button>

    <button mat-menu-item>
        <mat-icon>volunteer_activism</mat-icon>
        <button (click)="redirectToSponsors()">Sponsors / Donators</button>
    </button>

    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <button (click)="redirectToSettings()">Settings</button>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Sign Out</span>
    </button>
</mat-menu>
